.banner {
    height: 965px;
    width: 100%;
    background: url("images/scott-graham-5fNmWej4tAA-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    .banner-title{
       width: 100%;
       color: white;
       height: 100%;
       text-align: center;
       top: 40%;
       position: absolute;
       h1{
           font-size: 72px;
           font-weight: bold;
           padding-bottom: 10px;
       }
       p{
           font-size: 24px;
           padding-bottom: 50px;
       }
       a{
           background-color: #2ebaee;
           border-radius: 13%/50%;
           padding: 10px 50px;
           color: white;
           font-family: 'Montserrat', sans-serif;
           font-size: 18px;
           font-weight: bold;
           letter-spacing: 1px;
           
       }
    }
}