<nav class="navi">
    <div class="theme-container">
        <div class="logo">
            <a href="#" class="navbar-brand nav-title">Austera</a>
        </div>
    
        <div class="menu">
            <ul>
                <li><a href="#">Homepage</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>