
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sect1">
                    <h1>Our services</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 icon">
                        <div class="col-md-3">
                            <img src="/assets/images/responsive.png" alt="page">
                        </div>
                        <div class="col-md-3">
                            <img src="/assets/images/endless.png" alt="lock">
                        </div>
                        <div class="col-md-3">
                            <img src="/assets/images/incredible.png" alt="display">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/images/fresh.png" alt="idea">
                        </div>
                    </div>
                </div>   
            </div> 
            <div class="container">
                <div class="row">
                    <div class="col-md-12 content">
                        <div class="col-md-3">
                            <h3>Responsive design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur maxime architecto ipsum quas sint in, quia numquam placeat magnam similique totam.</p>
                        </div>
                        <div class="col-md-3">
                            <h3>Endless Security</h3>
                            <p>Lorem ipsum dolor sit amet elit. Tenetur maxime architecto ipsum quas sint in, quia numquam placeat magnam similique totam.</p>
                        </div>
                        <div class="col-md-3">
                           <h3>Incredible features</h3>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur maxime architecto, quia numquam placeat magnam similique totam.</p>
                        </div>
                        <div class="col-md-3">
                            <h3>Fresh ideas</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur maxime architecto sint in, quia numquam placeat magnam similique totam.</p>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <a href="#" class="btn">Check services</a>
                </div>  
                <div class="row cont-2">
                    <div class="col-md-5">
                        <div class="first-con">
                            <h3 class="con-title">Lorem ipsum dolor sit amet</h3>
                            <p class="con-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta rem vel nisi suscipit, velit porro quo. Beatae, architecto. Omnis illo accusantium id esse neque, rem quod? Quia labore quibusdam voluptatum?</p>
                            <a href="#" class="btn">Show more</a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div>
                            <img src="../../assets/images/laptop.png" alt="laptop" style="height: 467px;">
                        </div>          
                    </div>
                </div>
                <div class="row cont-2">
                    <div class="col-md-7">
                        <div>
                            <img src="../../assets/images/camera.png" alt="camera" style="height: 350px;">
                        </div>          
                    </div>
                    <div class="col-md-5">
                        <div class="first-con">
                            <h3 class="con-title color-con">Lorem ipsum dolor sit amet</h3>
                            <p class="con-title color-con">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta rem vel nisi suscipit, velit porro quo. Beatae, architecto. Omnis illo accusantium id esse neque, rem quod? Quia labore quibusdam voluptatum?</p>
                            <a href="#" class="btn-wht">Show more</a>
                         </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>


<!---------------------------->



<section class="container-fluid">
   <div class="row">
    <div class="section-3">
            <div class="img-3"></div>
            <div class="cont-3">
                <h1 class="con-title">Lorem ipsum dolor sit amet</h1>
                <p class="con-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta rem vel nisi suscipit, velit porro quo. Beatae, architecto. Omnis illo accusantium id esse neque, rem quod? Quia labore quibusdam voluptatum?</p>
                <a href="#" class="btn">Show more</a>
            </div>
    </div>
   </div>
</section>




<!---------------------------->


<!--<section class="container-fluid">
    <div class="row">
            <div class="col-md-3">
                <div class="grid-1">
                    <h1>Lorem ipsum dolor, sit amet</h1>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="grid-2">
                    <h1> Consequatur iusto illo itaque</h1>
                </div>           
            </div>
            <div class="col-md-3">
                <div class="grid-3">
                    <h1>Accusantium harum consequatur</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="grid-4">
                    <h1>Possimus asperiores, pariatur quis</h1>
                </div>
            </div>
    </div>
</section> -->

<section class="container-fluid">
    <div class="row">
            <div class="sec-grid"> 
                <div class="grid-1 wid-grid">
                    <h1>Lorem ipsum dolor, sit amet</h1>
                </div> 
        
          
                <div class="grid-2 wid-grid">
                    <h1> Consequatur iusto illo itaque</h1>
                </div>           
       
          
                <div class="grid-3 wid-grid">
                    <h1>Accusantium harum consequatur</h1>
                </div>
        
           
                <div class="grid-4 wid-grid">
                    <h1>Possimus asperiores, pariatur quis</h1>
                </div>
            </div>     
    </div>
</section>


<!---------------------------->


<section class="team">
    
    <div class="container">
        <div class="row">
            <div class="col-md-6"><h1 class="title-team">Check our <span style="color: #2ebaee;">awesome team</span></h1></div>
            
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="member">
                    <img src="../../assets/images/john.png" alt="Man">
                    <h3>John Doe</h3>
                    <p>Ceo&Founder</p>
                    <a href="#" class="btn">Check Profile</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="member">
                    <img src="../../assets/images/paul.png" alt="Old Man">
                    <h3>Paul Kowalsky</h3>
                    <p>Ceo&Founder</p>
                    <a href="#" class="btn">Check Profile</a>
                </div>                  
            </div>
            <div class="col-md-3">
                <div class="member">
                    <img src="../../assets/images/emily.png" alt="Woman">
                    <h3>Emilly Williams</h3>
                    <p>Ceo&Founder</p>
                    <a href="#" class="btn">Check Profile</a>
                </div>                  
            </div>
            <div class="col-md-3">
                <div class="member">
                    <img src="../../assets/images/pat.png" alt="Woman wearing glasses">
                    <h3>Patricia Green</h3>
                    <p>Ceo&Founder</p>
                    <a href="#" class="btn">Check Profile</a>
                </div>                   
            </div>
        </div>
    </div>


</section>



<!---------------------------->


<section class="contact">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contacts">
                    <h1>Contact with us</h1>
                    <p>Marszalkowska Street 14/35 / Mazowieckie, Poland</p>
                    <h3>Phone: <span style="color: #2ebaee;">(+48) 604 234 091</span></h3>
                    <h3>E-mail: <a href="#" style="color: #2ebaee;">contact@austera.co</a></h3>
                    <div class="icon-set">
                        <div class="col-xs-2">
                            <img src="../../assets/images/twitter.png" alt="twitter" class="icons">
                        </div>
                        <div class="col-xs-2">
                            <img src="../../assets/images/fb.png" alt="facebook" class="icons">
                        </div>
                        <div class="col-xs-2">
                            <img src="../../assets/images/pinterest.png" alt="twitter" class="icons">
                        </div>
                        <div class="col-xs-2">
                            <img src="../../assets/images/google-plus.png" alt="twitter" class="icons">
                        </div>
                        <div class="col-xs-2">
                            <img src="../../assets/images/gmail.png" alt="twitter" class="icons">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6">
                <form action="">
                    <div class="inp-text">
                        <input type="text" placeholder="Your Name" class="input-text">
                    </div>
                    <div class="inp-text">
                        <input type="text" placeholder="Your email-address" class="input-text">
                    </div>
                    <div class="inp-text"> 
                        <textarea name="message" id="message" cols="63" rows="8" placeholder="Your message" class="input-text"></textarea>
                    </div>   
                    <div id="send">
                        <a href="#" class="btn">Send message</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

            
